.weeklyWeather {
    background-color: gray;
    background-image: url(../../assets/background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    font-weight: bold;
}

.weeklyInputContainer {
    padding-bottom: 50px;
    padding-top: 0px;
}

.group {
    display: inline-block;
    margin: 10px 10px;
}

.cardContainer {
    width: 20rem;
    height: 30rem;
}

.card {
    background-color: lightblue;
    padding: 30px 0px;
    width: 20rem;
    border: 2px solid orange;
}

.img {
    margin: 0 auto;
}

.date {
    font-size: 25px;
    text-shadow: 5px 5px 5px white;
}

.text {
    font-size: 20px;
}

.text p {
    color: black;
    text-shadow: 5px 5px 5px white;
}

.location h2 {
    display: inline-block;
    padding: 0 50px;
    text-shadow: 10px 10px 10px orange;
}

@media screen and (max-width: 820px){
    .weeklyWeather {

    }
}

@media screen and (max-width:414px){
    .weeklyWeather {
       
    }
}


